Package:rnr-peripherals-dev
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Depends: rnr-librnr-dev (>=1.14.0), rnr-libserial-dev (>=1.6.0), libusb-1.0-0 (>=0.0.0)
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: Libraries for communicating with various hardware devices.
