[Desktop Entry]
Type=Application
Terminal=false
Name=eudoxus_console
Icon=/usr/local/share/Eudoxus/images/icons/EudoxusConsoleIcon.png
Exec=gksudo --preserve-env /usr/local/bin/eudoxus_console.py
#Icon=/prj/share/Eudoxus/images/icons/EudoxusConsoleIcon.png
#Exec=gksudo --preserve-env /prj/bin/eudoxus_console.py
