Package:rnr-odroid-doc
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: RoadNarrows odroid documentation package.
