# rnr-sdk specific ignores
# Lines that start with '#' are comments.

# botsense
botsense/bsModules/bsI2C/bsI2CMsgs.c
botsense/bsModules/bsNull/bsNullMsgs.c
botsense/bsModules/bsSerial/bsSerialMsgs.c
botsense/bsPython/modules/BotSense/bsI2CMsgs.py
botsense/bsPython/modules/BotSense/bsNullMsgs.py
botsense/bsPython/modules/BotSense/bsProxyMsgs.py
botsense/bsPython/modules/BotSense/bsSerialMsgs.py
botsense/include/botsense/bsI2CMsgs.h
botsense/include/botsense/bsNullMsgs.h
botsense/include/botsense/bsProxyMsgs.h
botsense/include/botsense/bsSerialMsgs.h
botsense/libbotsense/bsProxyMsgs.c
botsense/share/msgs/*.xml
botsense/bsModules/*/*_wrap.c
botsense/bsModules/*/*.done
botsense/bsPython/src/*_wrap.c
botsense/bsPython/src/*.done
botsense/bsPython/build
botsense/bsPython/build.*/
botsense/bsPython/modules/BotSense/BotSenseCore.py
botsense/bsPython/modules/BotSense/bsI2C.py
botsense/bsPython/modules/BotSense/bsNull.py
botsense/bsPython/modules/BotSense/bsSerial.py

# Dynamixel
Dynamixel/bsMsgs/bsDynaCore_wrap.c
Dynamixel/bsMsgs/bsDynaMsgs.c
Dynamixel/bsMsgs/*.done
Dynamixel/bsPython/modules/
Dynamixel/include/botsense/bsDynaMsgs.h
Dynamixel/share/msgs/*.xml

# Hekateros
Hekateros/sw/pyModules/build
Hekateros/sw/pyModules/build.*/
Hekateros/sw/pyModules/src/*.done

# i2c
i2c/pyModules/build
i2c/pyModules/build.*/
i2c/pyModules/modules/rnr/i2ccore.py
i2c/pyModules/src/*_wrap.c
i2c/pyModules/src/*.done

# Laelaps
Laelaps/sw/pyModules/build
Laelaps/sw/pyModules/build.*/
Laelaps/sw/pyModules/src/*_wrap.c
Laelaps/sw/pyModules/src/*.done
Laelaps/sw/pyModules/modules/Laelaps/ImuMspMsgs.py
Laelaps/sw/pyModules/modules/Laelaps/RoboClawMsgs.py
Laelaps/sw/pyModules/modules/Laelaps/WatchDogMsgs.py

# netmsgs
netmsgs/nmPython/build
netmsgs/nmPython/build.*/
netmsgs/nmPython/modules/NetMsgs/NetMsgsCore.py
netmsgs/nmPython/src/*_wrap.c
netmsgs/nmPython/src/*.done
