Package:rnr-peripherals-doc
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: Libraries for communicating with hardware devices documentation.
