Package:rnr-botsense-src
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: RoadNarows botsense development package source code.
