[Desktop Entry]
Type=Application
Terminal=false
Name=spin left
Icon=/opt/rnr_ros/kinetic/src/laelaps/laelaps_control/src/laelaps_control/images/icons/BotLeftIcon.png
Exec=rosrun laelaps_control laelaps_spin_left
