[Desktop Entry]
Type=Application
Terminal=false
Name=emergency stop
Icon=/opt/rnr_ros/kinetic/src/laelaps/laelaps_control/src/laelaps_control/images/icons/icon_estop.png
Exec=rosrun laelaps_control laelaps_estop
