[Desktop Entry]
Type=Application
Terminal=false
Name=rqt_graph
Icon=/opt/rnr_ros/kinetic/src/laelaps/laelaps_control/src/laelaps_control/images/icons/ROSIcon.png
Exec=rqt_graph
