# 
# RoadNarrows Robotics Laelaps Base udev rules
#

# Motor Controllers multi-drop serial 
KERNEL=="ttySAC0",SUBSYSTEM=="tty",MODE="666",SYMLINK+="motorctlrs"

# Laelaps Subprocessors and Sensors I2C bus
#
# Note: Odroid firmware or kernel moved the user hardware I2C device from 3 to 4
# as some point. Hence, need to support legacy robots and current.
KERNEL=="i2c-4",MODE="666",SYMLINK+="i2c-laelaps"
KERNEL=="i2c-3",MODE="666",SYMLINK+="i2c-laelaps-alt"

# USB IMU device
ATTRS{idVendor}=="10c4",ATTRS{idProduct}=="ea60",MODE="666",SYMLINK+="imu"

#
# Supported Cameras
#

# Front Creative USB 2.0 720p web camera with microphone.
KERNEL=="video[0-9]*",ATTRS{idVendor}=="041e",ATTRS{idProduct}=="4097",MODE="666",SYMLINK+="fcam"


