Package:rnr-pantilt-dev
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Depends: rnr-librnr-dev (>=1.13.0), rnr-libserial-dev (>=1.5.1), rnr-dynamixel-dev(>=2.8.2), rnr-appkit-dev(>=1.1.2)
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: PanTilt control libraries.
