Package:rnr-libserial-dev
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Depends: rnr-librnr-dev (>=1.14.0)
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: Utilities for communicating over serial interface.
