# 
# RoadNarrows Robotics Pan-Tilt udev rules
#

# USB dynabus device
SUBSYSTEM=="tty", ATTRS{manufacturer}=="RoadNarrows", ATTRS{product}=="Pan_Tilt", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE="666", SYMLINK+="pantilt%n"

# USB dynabus device (legacy name)
SUBSYSTEM=="tty", ATTRS{manufacturer}=="RoadNarrows", ATTRS{product}=="Dynamixel_Bus", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE="666", SYMLINK+="pantilt%n"
