Package:rnr-eudoxus-dev
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Depends: rnr-librnr-dev(>=1.13.2), rnr-i2c-dev(>=1.4.0), rnr-libserial-dev(>=1.6.0), rnr-gpio-dev(>=1.4.0), rnr-appkit-dev(>=1.3.0)
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: RoadNarrows Eudoxus development package.
