Package:rnr-eudoxus-dev
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Depends: rnr-librnr-dev (>=1.13.0), libgstreamer-0.10 (>=0.10.0), libglib-2.0 (>=2.0.0), libboost_system (>=1.40.0), libusb-1.0 (>=2.0.0)
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: RoadNarrows Eudoxus development package.
