Package:rnr-dynamixel-dev
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Depends: rnr-librnr-dev (>=1.13.0), rnr-libserial-dev (>=1.5.1), rnr-gpio-dev (>=1.2.0), rnr-netmsgs-dev(>=1.1.2), rnr-botsense-dev (>=3.0.4), libgsl0-dev (>=1.13.0)
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description:  Advanced Dynamixel control library.
