Package:rnr-odroid-dev
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Depends: rnr-librnr-dev (>=1.13.0)
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: RoadNarrows odroid development package.
