Package:rnr-i2c-doc
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: Library and utilities for communicating over I2C documentation.
