Package:rnr-appkit-src
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: C++ libraries for writing applications quickly and consistently source.
