Package:rnr-librnr-dev
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: Basic RoadNarrows utilities and configuration
