Package:rnr-laelaps-doc
Version: @VERSION@
Section: devel
Priority: optional
Architecture: @ARCH@
Maintainer: Robin Knight <robin.knight@roadnarrows.com>
Description: RoadNarrows Laelaps documentation package.
